@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Bodoni Moda', serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(confetti-gif-9.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure content fills the screen height */
}

.card {
  width: 100%; /* Use 100% width for mobile */
  max-width: 400px; /* Limit card width for larger screens */
  position: relative;
  margin: 20px; /* Add margin for spacing */
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.outside, .inside {
  width: 100%;
  padding: 20px; /* Add padding for spacing */
  text-align: center;
  border-radius: 20px;
  background-color: #ffebcd82;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.outside h1, .inside h3 {
  font-size: 1.5rem; /* Adjust font size for mobile */
  font-weight: bold;
  color: #f3842f;
  margin-bottom: 10px; /* Adjust margin for spacing */
}

.frames {
  width: 100%; /* Use 100% width for mobile */
  max-width: 400px; /* Limit frame width for larger screens */
  margin: 20px; /* Add margin for spacing */
  text-align: center;
  padding: 20px; /* Add padding for spacing */
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.frames img {
  width: 100px; /* Adjust image size for mobile */
  height: 100px; /* Adjust image size for mobile */
  border-radius: 50%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
}

.frames p {
  font-size: 1rem; /* Adjust font size for mobile */
  font-weight: bold;
  color: #e4ba30;
  margin-top: 10px;
}

/* Media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .card {
    max-width: 100%; /* Remove max-width for full width on mobile */
    margin: 10px; /* Adjust margin for spacing */
  }

  .frames {
    max-width:
